<div class="ui violet inverted menu">
  <div class="header item">
    Amusement Park on Rails 5
  </div>
  <a class="item">
    Home
  </a>
  <a class="item">
    Sign Up
  </a>
  <a class="item">
    Sign In
  </a>
</div>