<div class="ui violet inverted menu">
  <div class="header item">
    Amusement Park on Rails 5
  </div>
  <%= link_to "Home", root_path, class: "item" %>
  <%= link_to "Sign Up", signup_path, class: "item" %>
  <%= link_to "Sign In", signin_path, class: "item" %>
</div>