<div class="ui segment">
<%= link_to "New Attraction", new_attraction_path, class: "ui teal button" %>
</div>
  <div class="ui three cards">
  <% @attractions.each do |attraction| %>
      <%= render partial: "card", locals: {attraction: attraction} %>
  <% end %>
</div>